
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


:root {
    --cor-primaria: #5a437290;
    --cor-secundaria: #d2b0e996;
    --cor-tercearia: #FF00FF;
    --cor-quaternaria: #11021d;
    --fonte-principal: "Inter", sans-serif;
    --fonte-raiz: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    padding: 1.27rem;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(assets/cidade.png);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    filter: blur(3px);
    z-index: -1;
}


.cabecalho {
    padding: 2%;
    color: var(--cor-quaternaria);
    font-size: 5rem; 
    font-family: "Jersey 10", sans-serif;  
}

.sigla span {
    animation: brilho 3s ease-in-out infinite;
}

.sigla span:nth-last-of-type(0) {
    animation-delay: 0.25s;
}

.sigla span:nth-last-of-type(1) {
    animation-delay: 0.50s;
}

@keyframes brilho {
    0% {
        color: #fff;
        text-shadow: 0 0 13px var(--cor-tercearia),
                     0 0 55px var(--cor-tercearia),
                     0 0 100px var(--cor-tercearia);
    }
    10%, 90% {
        color: var(--cor-quaternaria);
        text-shadow: none;
    }
}



main {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    margin: 0 auto; 
    width: 100%;
    max-width: 1700px; 
}


.area, .area-mensagem {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    box-sizing: border-box;
    
}


#texto-area, #texto-resposta {
    background-image: url(assets/roxo\ \(1\).png); 
    opacity: 10;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%; 
    text-align: center; 
    padding: 40px 1rem;
    height: 600px; 
    font-size: 3rem;
    color: var(--cor-quaternaria);
    box-shadow: 0px 25px 34px -10px rgba(152, 205, 244, 0.5), 0px 30px 32px -8px rgba(152, 205, 244, 0.5);
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    resize: none; 
    box-sizing: border-box;
}

textarea::placeholder {
    color: var(--cor-quaternaria);
    opacity: 0.8; 
    font-size: 3rem;
    text-align: center; 
}



.informacoes {
    font-size: 1.5rem;
    color: var(--cor-quatrenaria);
    margin-bottom: 1rem;
    margin-left: 10rem;
    
}
.botoes {
    display: flex;
    padding: 2px;
    margin-left: 8rem;
    gap: 2rem;

}


.bnt_criptografar, .bnt_descriptografar {
    padding: 1rem;
    width: 15.62rem;
    font-size: 1.5rem;
    border: 1.5px solid var(--cor-quaternaria);
    cursor: pointer;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.bnt_criptografar {
    background-color: var(--cor-primaria);
    color: var(--cor-quaternaria);
}

.bnt_descriptografar {
    background-color: var(--cor-secundaria);
    color: var(--cor-quaternaria);
}


.mensagem {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: flex-start; 
    max-width: 100%;
    margin-left: 14rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: left;
}

.mensagem {
    display: none; 
    color: #FF00FF;
    font-weight: bold;
}
.mensagem.show {
    display: block; 
}

.bnt_copiar {
    padding: 1rem;
    width: 15.62rem;
    font-size: 1.5rem;
    border: 1.5px solid var(--cor-quaternaria);
    background-color: var(--cor-primaria);
    color: var(--cor-quaternaria);
    cursor: pointer;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}


.rodape {
    color: var(--cor-quaternaria);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.links {
    text-decoration: none;
    font-size: 1rem;
    color: var(--cor-quaternaria);
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
}